html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  padding-top: 40px;
  background: #0d0f0f;
}
body a:link {
  color: #43aae0;
}
body a:hover {
  color: #7bc3e9;
}
body a:visited {
  color: #218ec8;
}
.heading,
.topic {
  color: #fff;
  padding: 0.5em;
  border-bottom: 2px solid #191d1e;
  position: fixed;
  top: 0;
  width: 100%;
  background: #222526;
  z-index: 2;
  box-shadow: 1px 1px 8px #333;
}
.heading h1,
.topic h1 {
  text-align: center;
  font-weight: 300;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
.heading h2,
.topic h2 {
  text-align: left;
  font-weight: normal;
  font-size: 0.9em;
  margin: 0;
  padding: 0.2em;
}
.chat {
  position: relative;
  border-bottom: 1px solid #000;
  border-top: 1px solid #252b2d;
  padding: 15px 0;
  padding-right: 15px;
  background: #1c2122;
}
.chat .avatar {
  position: absolute;
  left: 8px;
  top: 14px;
  transition: all 0.4s ease-in-out;
}
.chat .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #194054;
}
.chat .messages {
  margin-left: 60px;
}
.chat .messages p {
  padding: 0.25em;
  padding-left: 0;
  margin: 0;
  line-height: 135%;
  color: #b5b5b5;
}
.chat .messages p img {
  vertical-align: middle;
}
.chat .sender {
  font-weight: bold;
  color: #b5b5b5;
}
.chat .time {
  position: absolute;
  right: 15px;
  font-size: 0.8em;
  color: #4e4f54;
}
.autoreply p {
  font-style: italic;
}
.status,
.event {
  text-align: center;
  color: #6d6d6d;
  padding: 0.6em;
  border-bottom: 1px solid $eventBorderColorBottom;
  border-top: 1px solid #252b2d;
  font-size: 0.85em;
  background: #1d2122;
  padding-right: 15px;
  font-style: italic;
}
.focus {
  background: #1a2834;
  border-bottom: 1px solid #1d1e1e;
}
.focus .time {
  color: #34557f;
}
.firstFocus {
  border-top: 4px solid #3f5669;
  background: #1a2834;
  border-bottom: 1px solid #1d1e1e;
}
.firstFocus .time {
  color: #34557f;
}
.history {
  background: #1c2122;
  opacity: 0.7;
  transition: all 0.75s ease-out;
}
.history:hover {
  opacity: 0.999;
  background: #191d1e;
}
.history.mention:hover {
  background: #2d6594;
}
.mention {
  background: #2d6594;
  position: relative;
}
.mention:after {
  content: '';
  display: block;
  right: 0;
  top: 0;
  position: absolute;
  width: 20px;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #4398de;
}
.mention .time {
  color: #184368;
}
.mention .messages p {
  color: #cecece;
}
.mention .avatar img {
  border: 2px solid #2a5980;
}
.chat {
  padding: 10px 0;
  padding-right: 15px;
}
.chat .avatar {
  left: 6px;
  top: 8px;
}
.chat .avatar img {
  width: 28px;
  height: 28px;
}
.chat .messages {
  margin-left: 44px;
}
.chat .messages p {
  padding: 0 0.25em;
  padding-left: 0;
  line-height: 120%;
}
.chat .messages p img {
  vertical-align: middle;
}
.chat .sender {
  font-size: 88%;
}
