html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  padding-top: 40px;
  background: #242426;
}
body a:link {
  color: #4583fa;
}
body a:hover {
  color: #588ffb;
}
body a:visited {
  color: #075af8;
}
.heading,
.topic {
  color: #fff;
  padding: 0.5em;
  border-bottom: 2px solid #191d1e;
  position: fixed;
  top: 0;
  width: 100%;
  background: #222526;
  z-index: 2;
  box-shadow: 1px 1px 8px #333;
}
.heading h1,
.topic h1 {
  text-align: center;
  font-weight: 300;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
.heading h2,
.topic h2 {
  text-align: left;
  font-weight: normal;
  font-size: 0.9em;
  margin: 0;
  padding: 0.2em;
}
.chat {
  position: relative;
  border-bottom: 1px solid #0a0c0d;
  padding: 15px 0;
  padding-right: 15px;
  background: #191d1e;
}
.chat .avatar {
  position: absolute;
  left: 10px;
  top: 18px;
}
.chat .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: all 0.4s ease-in-out;
}
.chat .avatar img:hover {
  transform: scale(1.05);
}
.chat .messages {
  margin-left: 60px;
}
.chat .messages p {
  padding: 0.25em;
  padding-left: 0;
  margin: 0;
  line-height: 135%;
  color: #ababab;
}
.chat .messages p img {
  vertical-align: middle;
}
.chat .sender {
  font-weight: bold;
  color: #ababab;
}
.chat .time {
  position: absolute;
  right: 15px;
  font-size: 0.8em;
  color: #74767b;
}
.autoreply p {
  font-style: italic;
}
.status,
.event {
  text-align: center;
  color: #bcbcbc;
  padding: 0.6em;
  border-bottom: 1px solid #222;
  font-size: 0.85em;
  background: #3e3f41;
  padding-right: 15px;
}
.focus {
  background: #0e1111;
  border-bottom: 1px solid #1d1e1e;
}
.firstFocus {
  border-top: 2px solid #213342;
  background: #0e1111;
  border-bottom: 1px solid #1d1e1e;
}
.history {
  background: #191d1e;
  opacity: 0.7;
  transition: all 0.75s ease-out;
}
.history:hover {
  opacity: 0.999;
  background: #3e3f41;
}
.history.mention:hover {
  background: #365570;
}
.mention {
  background: #365570;
  position: relative;
}
.mention:after {
  content: '';
  display: block;
  right: 0;
  top: 0;
  position: absolute;
  width: 20px;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #5d92c1;
}
.mention .time {
  color: #777;
}
