$avatarSize = 28px;

.chat {
	padding:10px 0;
	padding-right:15px;

	.avatar {
		left:6px;
		top:8px;
		
		img {
			width:$avatarSize;
			height:$avatarSize;
		}
	}
	
	
	
	.messages {
		margin-left:44px;
		
		p {
			padding:0 0.25em;
			padding-left:0;
			line-height:120%;
			
			img {
				vertical-align:middle;
			}
			
			
		}
	}
	
	.sender{
		font-size:88%;
	}
}