$defaultBackground = #242426;
$defaultTextColor = #ABABAB;
$linkColor = #4583FA;

/* Header */
$headerBackground = #222526;
$headerBorderColor = #191D1E;
$headerTextColor = #fff;
$headerShadow = #333;

/* Default Chat */
$chatBackground = #191D1E;
$chatBorderColor = #0A0C0D;
$timeColor = #74767B;

/* Chats that happened since adium focus was lost */
$focusBackground = #0E1111;
$focusBorderColor = #1D1E1E;
$firstFocusBorderColor = #213342;

/* Events like someone signing on/off */
$eventBackground = #3E3F41;
$eventBorderColor = #222;

/* Items from a previous chat */
$historyBackground = #191D1E;
$historyBackgroundHover = #3E3F41;

/* Mentions */
$mentionBackground = #365570;
$mentionTagColor = #5D92C1;
$mentionTimeColor = #777;