$defaultBackground = #333;
$defaultTextColor = #fff;


$linkColor = #4583FA;
$timeColor = #6289BE;
$highlightColor = #999;

$focusColor = #e3e3e3;
$focusBorderColor = #111;

$headerShadow = #444;
$headerBackground = #111;
$headerBorderColor = #000;

$chatBackground = #000;
$chatBorderColor = #ddd;


$eventBackground = #F7F8FA;
$eventBorderColor = #111;

$historyBackground = #666;
$historyBackgroundHover = #111;

$mentionTagColor = #777;
$mentionTimeColor = #777;