$defaultTextColor = #3E444B;
$chatBorderColor = #F1F2F4;

$linkColor = #4583FA;
$timeColor = #6289BE;
$highlightColor = #FBF8EF;

$focusColor = #EFF4FB;
$focusBorderColor = #fff;

$headerShadow = $focusColor;

$eventBackground = #F7F8FA;
$eventBorderColor = #fff;

$historyBackground = #F5F5F5;
$historyBackgroundHover = #fff;

$mentionTagColor = #FBBF00;
$mentionTimeColor = #EEB600;