$defaultTextColor = #3E444B;
$defaultBackground = #fff

$linkColor = #4583FA;
$timeColor = #6289BE;
$highlightColor = #FBF8EF;

$focusColor = #EFF4FB;
$focusBorderColor = #fff;


$chatBackground = #fff;
$chatBorderColor = #F1F2F4;

$headerShadow = $focusColor;
$headerBackground = #fff;
$headerBorderColor = darken($chatBorderColor, 5%);


$eventBackground = #F7F8FA;
$eventBorderColor = #fff;

$historyBackground = #F5F5F5;
$historyBackgroundHover = #fff;

$mentionTagColor = #FBBF00;
$mentionTimeColor = #EEB600;