$defaultBackground = #fff;
$defaultTextColor = #3E444B;
$linkColor = #4583FA;

/* Header */
$headerBackground = #fff;
$headerBorderColor = #F1F2F4;
$headerTextColor = $defaultTextColor;
$headerShadow = #EFF4FB;

/* Default Chat */
$chatBackground = #fff;
$chatBorderColor = #F1F2F4;
$timeColor = #6289BE;

/* Chats that happened since adium focus was lost */
$focusBackground = #EFF4FB;
$focusBorderColor = #fff;
$firstFocusBorderColor = darken($focusBackground, 20%);
$firstFocusBorderTop = 2px solid $firstFocusBorderColor;
$focusTimeColor = $timeColor

/* Events like someone signing on/off */
$eventBackground = #F7F8FA;
$eventBorderColor = #fff;

/* Items from a previous chat */
$historyBackground = #F5F5F5;
$historyBackgroundHover = #fff;
$historyOpacity = 0.7;

/* Mentions */
$mentionBackground = #FBF8EF;
$mentionTagColor = #FBBF00;
$mentionTimeColor = #EEB600;
$mentionFontColor = $defaultTextColor;