$avatarSize = 40px;

html {
	padding:0;
	margin:0;
}

body {
	padding:0;
	margin:0;
	padding-top:40px;
	background:$defaultBackground;
	
	a {
		&:link {
			color:$linkColor;
		}
	
		&:hover {
			color:lighten($linkColor, 10%);
		}
	
		&:visited {
			color:darken($linkColor, 20%);
		}
	}
}

.heading, .topic {
	color:$headerTextColor;
	padding:0.5em;
	border-bottom:2px solid $headerBorderColor;
	position:fixed;
	top:0;
	width:100%;
	background:$headerBackground;
	z-index:2;
	box-shadow: 1px 1px 8px $headerShadow;
	
	h1 {
		text-align:center;
		font-weight:300;
		font-size:1.4em;
		margin:0;
		padding:0;
	}
	
	h2 {
		text-align:left;
		font-weight:normal;
		font-size:0.9em;
		margin:0;
		padding:0.2em;
	}
}

.chat {
	position:relative;
	border-bottom:1px solid $chatBorderColor;
	padding:15px 0;
	padding-right:15px;
	background:$chatBackground;

	.avatar {
		position:absolute;
		left:10px;
		top:16px;
		
		img {
			width:$avatarSize;
			height:$avatarSize;
			border-radius: $avatarSize;
			transition: all .4s ease-in-out;
			border:$avatarBorder;
			
			&:hover {
				transform: scale(1.05);
			}
		}
		
	}
	
	.messages {
		margin-left:60px;
		
		p {
			padding:0.25em;
			padding-left:0;
			margin:0;
			line-height:135%;
			color:$defaultTextColor;
			
			img {
				vertical-align:middle;
			}
		}
	}
	
	.sender{
		font-weight:bold;
		color:$defaultTextColor;
	}
	
	.time {
		position:absolute;
		right:15px;
		font-size:0.8em;
		color:$timeColor;
	}
}


.autoreply {
	p {
		font-style:italic;
	}
}

.status,
.event {
	text-align:center;
	color:lighten($defaultTextColor, 20%);
	padding:0.6em;
	border-bottom:1px solid $eventBorderColor;
	font-size:0.85em;
	background:$eventBackground;
	padding-right:15px;
	font-style:italic;
}

.focus {
	background:$focusBackground;
	border-bottom:1px solid $focusBorderColor;
	border-right:$focusBorderLeft;
	
	.time {
		color: $focusTimeColor;
	}
}

.firstFocus {
	border-top:$firstFocusBorderTop;
	background:$focusBackground;
	border-bottom:1px solid $focusBorderColor;
	border-right:$focusBorderLeft;
	
	.time {
		color: $focusTimeColor;
	}
}

.history {
	background:$historyBackground;
	opacity:$historyOpacity;
	transition:all 0.75s ease-out;
	
	&:hover {
		opacity:.999;
		background:$historyBackgroundHover;
	}
	
	&.mention:hover {
		background:$mentionBackground;
	}
}

.mention {
	background:$mentionBackground;
	position:relative;
	&:after{
	    content: '';
	    display: block;
	    right: 0;
	    top: 0;
	    position: absolute;
		width:20px;
	    border-bottom: 12px solid transparent;
	    border-right: 12px solid $mentionTagColor;
	}
	
	.time {
		color:$mentionTimeColor;
	}
	
	.messages p {
		color:$mentionFontColor;
	}
	
	.avatar img {
		border:$avatarMentionBorder;
	}
	
}